html{
    font-size:16px;
}
body{
    background-color:#838996!important;
}
h1.appName{
    margin:5px;
}
img{
    width:100%;
    max-width:1200px;
}
.imageContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 10px 10px;
}
.center{
    text-align:center;
}
.appName{
    font-size: 3rem;
    font-weight:600;
    color:#fff;
    padding: 5px 5px;
}
.main{
    padding: 5px 5px;
}
.filters{
    font-weight: 600;
    color:#838996;
    font-size: 1.7rem;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.wrapper{
    display:flex;
    overflow-x:auto;
}
.item{
    margin-left:2px;
    font-weight: 500;
}
.well{
    padding:5px 5px;
    background-color:#bfc1c2!important;
}

.resetButton{
    text-decoration:none;
    padding: 5px;
    background-color:#838996;
    color:#fff; 
    border-radius:5px;
}
.resetButton:hover{
    text-decoration:none;
}